---
layout: mytheme
---

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="content">
        <div class="posts">
          {% for post in site.posts %}
            <article class="post">

              <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

              <div class="entry">
                {{ post.content}}
              </div>

            </article>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-8" style="position:fixed">
        <div class="tags">
          {% include tags-list.html %}
        </div>
  </div>
</div>