---
---

//
// IMPORTS
//

@import "navbar";
@import "carousel";
@import "avatar";
@import "post";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/


* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 2% auto;
}

body {
  padding-top: 50px;
  position: relative;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 0;
  border-top: solid 1px #dadada;
  border-radius: 0;
  background-color: #f9f9f9;
  color: #505657;
  padding: 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer a {
  padding: 10px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
