.posts {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.post {
  font-family: 'Inconsolata', monospace;
  padding: 30px;
  margin: 10px;
  box-shadow: 0px 0px 4px #dadada;
}

.tags {
  font-family: 'Inconsolata', monospace;
  padding: 30px;
  box-shadow: 0px 0px 4px #dadada;
  margin: 10px;
}

.post h1 a {
  font-weight: 700;
  color: #323232;
  margin-top: 0;
}

.post h1 {
  color: #323232;
  margin-top: 0;
}

.post img {
  max-width: 80%;
}

.entry ol li {
  margin-left: 40px;
  padding-left: 10px;
}

.entry ul li {
  margin-left: 50px;
  padding-left: 10px;
}

.entry p {
  margin-top: 10px;
}